@import url("https://fonts.googleapis.com/css2?family=Karla&display=swap");
html {
  height: 100%;
  background-color: #fdfcfa;
}
.App {
  width: 100%;
  font-family: "Karla", sans-serif;
  background-color: #fdfcfa;
}
.navigation {
  margin: auto;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.brand-name {
  margin: auto;
  font-weight: bold;
  font-size: 2rem;
}
.triangle {
  display: inline-block;
  /* vertical-align: middle; */
  margin: auto;
  padding: 0rem 0.1rem;
}
@media (prefers-reduced-motion: no-preference) {
  .triangle {
    animation: triangle-spin infinite 10s linear;
  }
}
@keyframes triangle-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.menu {
  margin: 0.5rem auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.menu-option {
  margin: 0.5rem;
  padding: 0.2rem;
  text-decoration: none;
  color: black;
  font-size: 1.3rem;
  border: 2px solid black;
}
.menu-option:hover {
  background-color: black;
  color: white;
}
/* body {
  display: block;
  margin: auto;
} */
